body{
    width: 80%;
    height:200vh;
}
#bank{
    width:99vw;
    max-height: 50px;
    display: flex;
}
#bank1{
    background-color: limegreen;
    width: 400px;
    height:80px;
    position: relative;
    left:200px;
    
}
#bank2{
    background-color:#7DF9FF;
    width:400px;
    height:80px;
    position:relative;
    left: 300px;
}
#children{
    width: 60%;
    display: flex;
    height: 100px;
    flex-wrap: wrap;
    gap:20px;
}
section{
    background-color: rgb(133, 181, 19);
    width: 70px;
    height:60px;
    position: relative;
    top: 150px;
    left: 470px;
    border-radius: 20px;
}
footer{
    background-color: rgb(234, 91, 7);
    position: relative;
    width: 900px;
    height: 80px;
    top: 200px;
    left:200px;
}